<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史数据查看中心</title>
    <link rel="stylesheet" href="static/plugins/Bootstrap/css/bootstrap-theme.css">


    <script src="static/plugins/jquery/jquery-1.12.2.js"></script>
    <link rel="stylesheet" href="static/plugins/Bootstrap/css/bootstrap.css">
    <script src="static/plugins/Bootstrap/js/bootstrap.js"></script>
    <script src="static/plugins/ECharts/echarts.js"></script>

    <link rel="stylesheet" href="static/plugins/MiniUI/themes/default/miniui.css">
    <script src="static/plugins/MiniUI/miniui.js"></script>
    <style>
        body{
            background-color:rgb(145,166,151);
        }
        .chart-box{
            width:45%;
            height:240px;
            float:left;
            border:1px solid;
            border-radius:5px;
            margin-left:1%;
            margin-top:1%;
        }
    </style>
</head>
<body >

<center style="z-index:9999;"><h1>历史数据查看中心</h1></center>

<div class="container pull-left col-3" style="float:left;width:20%;">
    <hr>
    <div class="row">
        <center> <button type="button" class="btn btn-primary btn-lg" deviceid="1" itype="change_device">设备1</button></center>
    </div>  <hr>
    <div class="row">
        <center> <button type="button" class="btn btn-primary btn-lg" deviceid="2" itype="change_device">设备2</button></center>
    </div>  <hr>

    <div class="row">
        <center> <button type="button" class="btn btn-primary btn-lg" deviceid="3" itype="change_device">设备3</button></center>
    </div>  <hr>
    <div class="row">
        <center> <button type="button" class="btn btn-primary btn-lg" deviceid="4" itype="change_device">设备4</button></center>
    </div>  <hr>
    <div class="row">
        <center> <button type="button" class="btn btn-primary btn-lg" deviceid="5" itype="change_device">设备5</button></center>
    </div><hr>

    <!--<div class="alert alert-danger" role="alert" id="alert_window" style="display:none;">-->
        <!--<strong>错误</strong> 接收数据失败，连接服务器异常，请查看后台程序-->
    <!--</div>-->
    <!--<div class="alert alert-info" role="alert" id="success_window"style="display:none;">-->
        <!--<strong>连接服务器成功</strong> 正常更新实时数据，五秒一刷新，请查看右侧数据窗口。-->
    <!--</div>-->

</div>

<div class="container" style="float:left;width:80%;">
    <div style="width:100%;">
        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <span>选择日期</span>
                        <input id="date1" class="mini-datepicker" />
                        <a class="mini-button" >查询</a>
                    </td>
                    <td style="white-space:nowrap;">
                        <!--<input id="key" class="mini-textbox" emptyText="请输入姓名" style="width:150px;" onenter="onKeyEnter"/>-->
                        <!--<a class="mini-button" >查询</a>-->
                        <!--<span>当前设备<span id="show_dvcid">1</span></span>-->
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="datagrid1" class="mini-datagrid" style="width:100%;height:500px;" allowResize="false" showPageInfo="false" showPager="false"
         allowResize="true" beforeload="loadHistoryData">
        <div property="columns">
            <div type="indexcolumn" >序号</div>
            <div field="time" width="90" headerAlign="center" allowSort="true">时间</div>
            <div field="id" width="50" headerAlign="center" dataType="int">设备ID</div>
            <div field="1001" width="50" headerAlign="center" dataType="float">温度</div>
            <div field="1002" width="50" dataType="float">电压</div>
            <div field="1003" width="50" dataType="float">电流</div>
            <div field="1004" width="80" dataType="float">属性码1</div>
            <div field="1005" width="80" dataType="float">属性码2</div>
            <div field="1006" width="80" dataType="float">属性码3</div>
            <div field="1007" width="80" dataType="float">属性码4</div>
            <div field="1008" width="80" dataType="float">属性码5</div>

        </div>
    </div>

</div>

<script>
        $(function(){
            mini.parse();
            loadHistoryData();

              $("[itype='change_device']").click(function(){
                var dvcid = $(this).attr("deviceid");
                globalData.deviceid = dvcid;
                 loadHistoryData();
            });

        });
        globalData = {
            deviceid:1,
        }
        globalData.deviceid =1;
        globalData.len = 100;
        globalData.timeInter = 5000;

        function loadHistoryData(){
             $.ajax({
                method:'get',
                url:'showrd/get_fivemin_data?id='+globalData.deviceid,
                dataType:'json',
                success:function(jsonData){

                    for(var i=0;i<jsonData.length;i++){
                        var newDate = new Date();
                        var timeint = parseInt(jsonData[i]["time"]);
                        newDate.setTime(timeint);
                        jsonData[i]["time"] = newDate.format('yyyy-MM-dd h:m:s');
                    }
                    console.log(jsonData);
                    datagrid = mini.get("datagrid1");
                    datagrid.setData(jsonData);
                     $("#alert_window").hide();
                     $("#success_window").show();
                      $("#info").html("正常更新实时数据，五秒一刷新，请查看右侧数据窗口。");
                },
                error:function(e){
                    console.log(e);
                    $("#alert_window").show();
                      $("#success_window").hide();
                }
            });

        }

        Date.prototype.format = function(format) {
               var date = {
                      "M+": this.getMonth() + 1,
                      "d+": this.getDate(),
                      "h+": this.getHours(),
                      "m+": this.getMinutes(),
                      "s+": this.getSeconds(),
                      "q+": Math.floor((this.getMonth() + 3) / 3),
                      "S+": this.getMilliseconds()
               };
               if (/(y+)/i.test(format)) {
                      format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
               }
               for (var k in date) {
                      if (new RegExp("(" + k + ")").test(format)) {
                             format = format.replace(RegExp.$1, RegExp.$1.length == 1
                                    ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
                      }
               }
               return format;
        }
        var timestamp3 = 1403058804;


    </script>
</body>
</html>